In [1]:
#Importing required python packages

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
from bs4 import BeautifulSoup

In [ ]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import tensorflow as tf
from tensorflow.keras import layers
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.models import Model
from tensorflow.keras.callbacks import ModelCheckpoint
from keras.utils import np_utils
from sklearn.preprocessing import LabelEncoder
from tensorflow.keras.preprocessing import text
from sklearn.metrics import classification_report

In [ ]:
!pip install tokenizers

Collecting tokenizers
  Downloading tokenizers-0.10.3-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (3.3 MB)
     |████████████████████████████████| 3.3 MB 6.3 MB/s
Installing collected packages: tokenizers
Successfully installed tokenizers-0.10.3

In [ ]:
from tqdm.notebook import tqdm
from tokenizers import Tokenizer, models, pre_tokenizers, decoders, processors
from tensorflow.keras.callbacks import ReduceLROnPlateau, EarlyStopping
from sklearn.feature_extraction.text import CountVectorizer

Training Data:

In [2]:
#Loading 60k training dataset

In [ ]:
data = pd.read_csv('./data.csv')

In [ ]:
data.head()

         Id  ...         Y
0  34552656  ...  LQ_CLOSE
1  34552974  ...   LQ_EDIT
2  34553034  ...        HQ
3  34553174  ...        HQ
4  34553318  ...        HQ

[5 rows x 6 columns]

In [4]:
#Using beatiful soup to parse the text from the html format to text format

In [ ]:
data['Text']=data.Body.apply(lambda x: BeautifulSoup(x, 'html.parser').text)
data.head(5)

         Id  ...                                               Text
0  34552656  ...  I'm already familiar with repeating tasks ever...
1  34552974  ...  I am having 4 different tables like \r\nselect...
2  34553034  ...  I'd like to understand why Java 8 Optionals we...
3  34553174  ...  I am attempting to overlay a title over an ima...
4  34553318  ...  The question is very simple, but I just could ...

[5 rows x 7 columns]

In [5]:
#Converting text to lower case

In [ ]:
data['Text']=data['Text'].str.lower()
data.head(5)

         Id  ...                                               Text
0  34552656  ...  i'm already familiar with repeating tasks ever...
1  34552974  ...  i am having 4 different tables like \r\nselect...
2  34553034  ...  i'd like to understand why java 8 optionals we...
3  34553174  ...  i am attempting to overlay a title over an ima...
4  34553318  ...  the question is very simple, but i just could ...

[5 rows x 7 columns]

In [ ]:
MAX_FEATURES = 20000
MAX_LEN = 200

In [6]:
# Initializing the tokenizer used on the text data for word embeddings layer of the neural network

In [ ]:
X=data['Text'].values

tokenizer = tf.keras.preprocessing.text.Tokenizer(num_words=MAX_FEATURES)
tokenizer.fit_on_texts(X)
sequences = tokenizer.texts_to_sequences(X)

word_index = tokenizer.word_index

LSTM Model for Data Labelling:

In [ ]:
from sklearn.model_selection import train_test_split
train,validation=train_test_split(data,test_size=0.25, random_state=55)

In [ ]:
EPOCHS = 25
BATCH_SIZE = 24
#MAX_LEN = 192

In [7]:
# Initializing the label encoder

In [ ]:
encoder = LabelEncoder()
encoder.fit(data.Y.values)
encoded_Y_train = encoder.transform(train.Y.values)
encoded_Y_valid = encoder.transform(validation.Y.values)


x_train = train.Text.values
x_valid = validation.Text.values


y_train = np_utils.to_categorical(encoded_Y_train)
y_valid = np_utils.to_categorical(encoded_Y_valid)

In [ ]:
tokens=text.Tokenizer(num_words=MAX_FEATURES, lower=True)
tokens.fit_on_texts(list(x_train))

In [ ]:
x_train=tokens.texts_to_sequences(x_train)
x_valid=tokens.texts_to_sequences(x_valid)


x_train = tf.keras.preprocessing.sequence.pad_sequences(x_train, maxlen=MAX_LEN)
x_valid = tf.keras.preprocessing.sequence.pad_sequences(x_valid, maxlen=MAX_LEN)

In [ ]:
inputs = tf.keras.Input(shape=(None,), dtype="int32")
x = layers.Embedding(MAX_FEATURES, 128)(inputs)
x = layers.Bidirectional(layers.LSTM(64, return_sequences=True))(x)
x = layers.Bidirectional(layers.LSTM(64))(x)
#x = layers.Flatten()(x)
#x = layers.Dropout(0.5)(x)
outputs = layers.Dense(3, activation="softmax")(x)
model = tf.keras.Model(inputs, outputs)
model.summary()

Model: "model"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_1 (InputLayer)        [(None, None)]            0

 embedding (Embedding)       (None, None, 128)         2560000

 bidirectional (Bidirectiona  (None, None, 128)        98816
 l)

 bidirectional_1 (Bidirectio  (None, 128)              98816
 nal)

 dense (Dense)               (None, 3)                 387

=================================================================
Total params: 2,758,019
Trainable params: 2,758,019
Non-trainable params: 0
_________________________________________________________________

In [ ]:
SGD=tf.keras.optimizers.SGD(learning_rate=0.01)
model.compile(loss='categorical_crossentropy',optimizer=SGD,metrics=[tf.keras.metrics.AUC()])

In [ ]:
es_cb = EarlyStopping(monitor='val_loss', min_delta=0,  patience=10, verbose=0, mode='auto')
reduce_lr = ReduceLROnPlateau(monitor='val_loss', factor=0.2, patience=5, min_lr=0.001)

In [8]:
#Training the model for 25 epochs

In [ ]:
history = model.fit(x_train, y_train, batch_size=BATCH_SIZE, epochs=EPOCHS, validation_data=(x_valid, y_valid),callbacks = [es_cb,reduce_lr], verbose=1)

Epoch 1/25
1903/1903 [==============================] - 397s 203ms/step - loss: 0.9261 - auc: 0.7400 - val_loss: 0.6438 - val_auc: 0.8728 - lr: 0.0100
Epoch 2/25
1903/1903 [==============================] - 385s 202ms/step - loss: 0.6052 - auc: 0.8852 - val_loss: 0.5571 - val_auc: 0.9108 - lr: 0.0100
Epoch 3/25
1903/1903 [==============================] - 386s 203ms/step - loss: 0.5633 - auc: 0.9074 - val_loss: 0.6354 - val_auc: 0.8922 - lr: 0.0100
Epoch 4/25
1903/1903 [==============================] - 386s 203ms/step - loss: 0.5210 - auc: 0.9235 - val_loss: 0.7745 - val_auc: 0.8826 - lr: 0.0100
Epoch 5/25
1903/1903 [==============================] - 385s 202ms/step - loss: 0.4914 - auc: 0.9328 - val_loss: 0.5115 - val_auc: 0.9292 - lr: 0.0100
Epoch 6/25
1903/1903 [==============================] - 385s 202ms/step - loss: 0.4726 - auc: 0.9383 - val_loss: 0.4736 - val_auc: 0.9394 - lr: 0.0100
Epoch 7/25
1903/1903 [==============================] - 385s 202ms/step - loss: 0.4725 - auc: 0.9387 - val_loss: 0.4450 - val_auc: 0.9464 - lr: 0.0100
Epoch 8/25
1903/1903 [==============================] - 385s 202ms/step - loss: 0.4437 - auc: 0.9458 - val_loss: 0.4268 - val_auc: 0.9504 - lr: 0.0100
Epoch 9/25
1903/1903 [==============================] - 384s 202ms/step - loss: 0.4222 - auc: 0.9508 - val_loss: 0.4200 - val_auc: 0.9516 - lr: 0.0100
Epoch 10/25
1903/1903 [==============================] - 386s 203ms/step - loss: 0.4106 - auc: 0.9534 - val_loss: 0.4215 - val_auc: 0.9508 - lr: 0.0100
Epoch 11/25
1903/1903 [==============================] - 385s 202ms/step - loss: 0.4049 - auc: 0.9545 - val_loss: 0.4696 - val_auc: 0.9399 - lr: 0.0100
Epoch 12/25
1903/1903 [==============================] - 385s 203ms/step - loss: 0.4157 - auc: 0.9524 - val_loss: 0.4904 - val_auc: 0.9366 - lr: 0.0100
Epoch 13/25
1903/1903 [==============================] - 386s 203ms/step - loss: 0.4277 - auc: 0.9498 - val_loss: 0.4333 - val_auc: 0.9489 - lr: 0.0100
Epoch 14/25
1903/1903 [==============================] - 387s 204ms/step - loss: 0.4187 - auc: 0.9518 - val_loss: 0.4227 - val_auc: 0.9514 - lr: 0.0100
Epoch 15/25
1903/1903 [==============================] - 387s 204ms/step - loss: 0.3738 - auc: 0.9611 - val_loss: 0.4085 - val_auc: 0.9543 - lr: 0.0020
Epoch 16/25
1903/1903 [==============================] - 386s 203ms/step - loss: 0.3682 - auc: 0.9622 - val_loss: 0.4224 - val_auc: 0.9516 - lr: 0.0020
Epoch 17/25
1903/1903 [==============================] - 387s 203ms/step - loss: 0.3622 - auc: 0.9633 - val_loss: 0.4043 - val_auc: 0.9551 - lr: 0.0020
Epoch 18/25
1903/1903 [==============================] - 388s 204ms/step - loss: 0.3596 - auc: 0.9638 - val_loss: 0.4044 - val_auc: 0.9552 - lr: 0.0020
Epoch 19/25
1903/1903 [==============================] - 388s 204ms/step - loss: 0.3545 - auc: 0.9647 - val_loss: 0.4019 - val_auc: 0.9557 - lr: 0.0020
Epoch 20/25
1903/1903 [==============================] - 388s 204ms/step - loss: 0.3515 - auc: 0.9653 - val_loss: 0.3994 - val_auc: 0.9560 - lr: 0.0020
Epoch 21/25
1903/1903 [==============================] - 388s 204ms/step - loss: 0.3481 - auc: 0.9659 - val_loss: 0.3956 - val_auc: 0.9573 - lr: 0.0020
Epoch 22/25
1903/1903 [==============================] - 388s 204ms/step - loss: 0.3423 - auc: 0.9669 - val_loss: 0.3882 - val_auc: 0.9585 - lr: 0.0020
Epoch 23/25
1903/1903 [==============================] - 386s 203ms/step - loss: 0.3396 - auc: 0.9673 - val_loss: 0.4160 - val_auc: 0.9547 - lr: 0.0020
Epoch 24/25
1903/1903 [==============================] - 387s 203ms/step - loss: 0.3379 - auc: 0.9676 - val_loss: 0.3847 - val_auc: 0.9592 - lr: 0.0020
Epoch 25/25
1903/1903 [==============================] - 388s 204ms/step - loss: 0.3356 - auc: 0.9681 - val_loss: 0.4064 - val_auc: 0.9552 - lr: 0.0020

In [ ]:
model.summary()

Model: "model_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_2 (InputLayer)        [(None, None)]            0

 embedding_1 (Embedding)     (None, None, 128)         2560000

 bidirectional_2 (Bidirectio  (None, None, 128)        98816
 nal)

 bidirectional_3 (Bidirectio  (None, 128)              98816
 nal)

 dense_1 (Dense)             (None, 3)                 387

=================================================================
Total params: 2,758,019
Trainable params: 2,758,019
Non-trainable params: 0
_________________________________________________________________

Saving the model

In [ ]:
from google.colab import drive

In [ ]:
my_data_dir="BDA"

In [ ]:
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
model.save("/content/gdrive/My Drive/BDA/model.h5")

In [ ]:
model.save_weights("/content/gdrive/My Drive/BDA/model_weights.h5")

In [ ]:
model.load_weights("/content/gdrive/My Drive/BDA/model_weights.h5")

In [ ]:
from keras.models import load_model

In [ ]:
model = load_model("/content/gdrive/My Drive/BDA/model.h5")

In [ ]:
!pip install tokenizer

Collecting tokenizer
  Downloading tokenizer-3.3.2-py2.py3-none-any.whl (77 kB)
     |████████████████████████████████| 77 kB 4.1 MB/s
Installing collected packages: tokenizer
Successfully installed tokenizer-3.3.2

In [ ]:
df = pd.read_csv('./BDAtest.csv')

In [ ]:
df.head()

   Unnamed: 0  ...                                               Tags
0           0  ...                          <linux><sockets><sandbox>
1           1  ...  <performance><matlab><parallel-processing><par...
2           2  ...                              <makefile><directory>
3           3  ...  <performance><maven-2><build-process><profilin...
4           4  ...                             <views><asp.net-mvc-3>

[5 rows x 5 columns]

In [ ]:
df["Body"] = df.Body.astype(str)

In [ ]:
df['Text']=df.Body.apply(lambda x: BeautifulSoup(x, 'html.parser').text)
df.head(5)

   Unnamed: 0  ...                                               Text
0           0  ...  I'm considering several options for sandboxing...
1           1  ...  the code I'm dealing with has loops like the f...
2           2  ...  I want to copy a file to a server using scp. B...
3           3  ...  We have a huge project with many submodules. A...
4           4  ...  I am trying to design a view using asp.net mvc...

[5 rows x 6 columns]

In [ ]:
labels=list(encoder.classes_)
print(np.argmax(pred), labels[np.argmax(pred)])

1 LQ_CLOSE

In [ ]:
for i in range(0,10):
  test_question = []
  test_question.append(df["Body"][i])
  seq = tokenizer.texts_to_sequences(test_question)
  padded = tf.keras.preprocessing.sequence.pad_sequences(seq, maxlen=MAX_LEN)
  pred = model.predict(padded)
  labels=list(encoder.classes_)
  print(np.argmax(pred), labels[np.argmax(pred)])

0 HQ
1 LQ_CLOSE
1 LQ_CLOSE
1 LQ_CLOSE
1 LQ_CLOSE
0 HQ
1 LQ_CLOSE
1 LQ_CLOSE
1 LQ_CLOSE
1 LQ_CLOSE

Labeling the Data

In [ ]:
df1 = pd.read_csv("./ld0.csv")

In [ ]:
df1 = df1.dropna(axis=0, subset=['Body'])

In [ ]:
df1.head()

         Id  PostTypeId  AcceptedAnswerId  ...  Views UpVotes  DownVotes
0  20309269           1        20309302.0  ...      7       0          0
1   8000009           1               NaN  ...    404     297          8
2   2560817           1         2561077.0  ...   2490    1270        287
3   9103059           1         9103096.0  ...    133      98          0
4   2382927           1         2383252.0  ...   1023     139          7

[5 rows x 27 columns]

In [ ]:
df5["Body"].isna().values.any()

False

In [ ]:
df1 = pd.read_csv("./ld1.csv")

In [ ]:
df2 = pd.read_csv("./ld2.csv")

In [ ]:
df3 = pd.read_csv("./ld3.csv")

In [ ]:
df4 = pd.read_csv("./ld4.csv")

In [ ]:
df5 = pd.read_csv("./ld5.csv")

In [ ]:
frames = [df2, df3, df4, df5]

In [ ]:
result = pd.concat(frames)

In [ ]:
len(df5)

100049

In [ ]:
df5["Body"].isna().sum()

0

In [ ]:
df4.drop(['PostTypeId','ParentId','CreationDate', 'DeletionDate', 'OwnerDisplayName', 'LastEditorUserId', 'LastEditorDisplayName', 'LastEditDate', 'LastActivityDate', 'ClosedDate', 'CommunityOwnedDate', 'Id_1'], axis=1, inplace = True)

In [ ]:
df5["Quality"] = ""

In [ ]:
df5 = df5.dropna(axis=0, subset=['Body'])

In [ ]:
df5['Body'] = df5.Body.astype(str)

In [ ]:
df5['Text']= df5.Body.apply(lambda x: BeautifulSoup(x, 'html.parser').text)
df5.head(5)

         Id  ...                                               Text
0   8019330  ...  My lines:\nABC: XYZ\nXYZ ABC: XYZ\nXYZ:\nABC\n...
1  47018159  ...  I've tried many of the solutions given on Stac...
2  33795535  ...  The idea is to create a class that can check i...
3  43497560  ...  I'm looking for handle my Bootstrap navbar tit...
4  41213215  ...  So I've setup webpack and webpack-dev-server, ...

[5 rows x 29 columns]

In [ ]:
df5['Text']=df5['Text'].str.lower()
df5.head(5)

         Id  ...                                               Text
0   8019330  ...  my lines:\nabc: xyz\nxyz abc: xyz\nxyz:\nabc\n...
1  47018159  ...  i've tried many of the solutions given on stac...
2  33795535  ...  the idea is to create a class that can check i...
3  43497560  ...  i'm looking for handle my bootstrap navbar tit...
4  41213215  ...  so i've setup webpack and webpack-dev-server, ...

[5 rows x 29 columns]